---
import FileUpload from "../components/FileUpload.jsx";
import parseJSON from "@components/parser";
import "@styles/index.sass";

const data = await fetch("/api/upload")
const res = await data.json()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    #drop_zone {
      border: 5px solid blue;
      width: 200px;
      height: 100px;
    }
  </style>
  <body>
    <FileUpload client:only="react" />
    <p class="invisible">{res.message}</p>
  </body>
</html>
